#logo{
    height:60px;
    width:100px;
}

.nav-wrapper{
    background-color: white;
}

.nav-wrapper ul{
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li{
    color: black;
}

#mainNav{
    background-color: lightgray;
}


