.searchBar{
    width: 50vw;
    margin:auto;
    margin-top: 10px;
}

#inputDiv{
    display:flex;
    flex-direction: row;
    align-content: center;
}

.searchInput{
    font-weight: bold;
    color: black;
}

::-webkit-input-placeholder { /* WebKit browsers */
    opacity: 1 !important;
}

input{
    border-bottom: none;
}
